{%extends "admin_layout.html"%}
{%block content%}
<div class="center"><h3>Edit Chapter Information</h3></div>
<form action="#" method="POST">
    <div class="input_form">
        <div class="mb-3">
            <label for="c_id" class="form-label">Chapter ID</label>
            <input type="number" class="form-control" id="c_id" name="c_id" placeholder="You cannot edit this." disabled>
        </div>
        <div class="mb-3">
            <label for="cname" class="form-label">Chapter Name</label>
            <input type="text" class="form-control" id="cname" name="cname" placeholder="{{ chapter.cname }}">
        </div>
        <div class="mb-3">
            <label for="c_description" class="form-label">Description</label>
            <input type="text" class="form-control" id="c_description" name="c_description" placeholder="{{ chapter.c_description}}">
        </div>
        <div class="mb-3">
            <label for="s_id" class="form-label">Subject ID</label>
            <input type="number" class="form-control" id="s_id" name="s_id" placeholder="You cannot edit this." disabled>
        </div>
        <div class=mb-3>
            <button type="submit" class="btn btn-primary">Save</button>
            <a href="/delete_chapter/{{ chapter.c_id }}/{{name}}" type = "button" class ="btn btn-danger">Delete</a>
            <a href="/admin/{{name}}" type = "button" class ="btn btn-primary">Cancel</a>
        </div>
    </div>
</form>
{%endblock%}